@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&family=Roboto:wght@400;700&family=Pacifico&display=swap');
/* Importing the fonts from Google Fonts API */
/* Defining CSS variables */
:root {
  /* Color palette */
  --primary-color: #007BFF;  /*  A shade of blue */
  --secondary-color: #6c757d; /*  A shade of gray */
  --accent1-color: #c7edd0;  /*  A shade of green */
  --accent2-color: #ffc107; /*  A shade of yellow/gold */

  --accent2-color-r: 255; 
  --accent2-color-g: 193; 
   --accent2-color-b: 7;  
  /* Typography */
  --heading-font: 'Raleway', sans-serif;
  --paragraph-font: 'Roboto', sans-serif;

  /* Navigation */
  --nav-background-color: #343a40; /*  A darker shade of gray */
  --nav-link-color: #ffffff; /* White color for better contrast with dark background */
  --nav-hover-link-color: #007BFF; /* Shade of blue to indicate hover on navigation link */
  --nav-hover-background-color: #495057; /* Slightly lighter shade of dark gray for hover background */
}

body {
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
  } 
  h1{
    position: absolute;
    z-index: 9;
    transform: translateY(-250px);
  }
  
  header {
    padding: 20px;
    background-color: var(--accent1-color);
  }

  p {
    padding: 25px;
  }

  nav {
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
    display: flex;
  }
  
  nav a {
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
  }
  
  nav a:link, nav a:visited {
    color: var(--nav-link-color);
  }
  
  nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
  }
  .hero {
    background-image: url('../images/background.jpg');
    background-size: cover; /* This ensures the background image covers the entire element */
    background-repeat: no-repeat; /* Ensures the image doesn't repeat */
    background-position: center; /* Centers the background image */
    position: relative; 
    height: 600px;  
    display: flex;
    /*flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center; */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

}
/* .hero, article, p{
    padding-top: -100px;
} */
  .hero img {
    display: block;
    width: 40%;
    height: 36%;
  }
  article{
    position: absolute;
    /* opacity: 0.8; */
    background-color: rgba(var(--accent2-color-r), var(--accent2-color-g), var(--accent2-color-b), 0.4);
  }
  article img{
    float: right;
  }
  /* section{
    padding-top: 1rem;
  } */
  footer {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    flex-wrap: wrap; 
}

.sociallinks {
    display: flex; 
    gap: 20px;
}

/* You can adjust the width of social images if they appear too big */
.sociallinks img {
    width: 24px; 
    height: 24px;
}
