@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&family=Roboto:wght@400;700&family=Pacifico&display=swap');

:root {
  --primary-color: #007BFF;
  --secondary-color: #6c757d;
  --accent1-color: #c7edd0;
  --accent2-color: #ffc107;
  --accent2-color-r: 255;
  --accent2-color-g: 193;
  --accent2-color-b: 7;
  --heading-font: 'Raleway', sans-serif;
  --paragraph-font: 'Roboto', sans-serif;
  --nav-background-color: #6aaef3;
  --nav-link-color: #ffffff;
  --nav-hover-link-color: #007BFF;
  --nav-hover-background-color: #c6d7e7;
}

body {
  font-family: var(--paragraph-font);
  max-width: 100%;
  padding: 20px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--heading-font);
  color: var(--primary-color);
}

header {
  padding: 20px;
  background-color: var(--nav-background-color);
  margin: 1rem auto;
  display: grid;
  grid-template-columns: 120px 1fr 2fr;
  align-items: center;
  border-bottom: 1px solid #ccc;
  max-width: 100%;
  justify-content: space-between; 
}

header img {
  margin: 0 0.25rem 0 1rem;
  width: 100px;
  height: auto;
  border-radius: 10%;
}

.navigation {
  display: flex;
  list-style: none;
  border-radius: 5%;
}

.navigation li {
  flex: 1 1 100%;
}

.navigation a {
  display: flex;
  color: var(--nav-link-color);
  padding: 20px;
  text-decoration: none;
}

.navigation a:hover {
  color: var(--nav-hover-link-color);
  font-weight: 700;
  background-color: var(--nav-hover-background-color);
  border-radius: 5%;
}

.hero {
  background-image: url('../images/background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.article img {
  float: right;
}

section h2 {
  text-align: center;
  position: relative;
  z-index: 1;
}

section h2::after {
  content: "";
  display: block;
  height: 20px;
  background-color:rgba(var(--accent2-color-r), var(--accent2-color-g), var(--accent2-color-b), 0.4);
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  z-index: -1;
}

section h2 span {
  background-color: rgba(var(--accent2-color-r), var(--accent2-color-g), var(--accent2-color-b), 0.4);
  padding: 0 20px;
  position: relative;
  z-index: 2;
}

section p {
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: left;
}

section p img {
  width: 35%; 
  height: auto;
  margin: 0 20px;
}

.adventure-gallery {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 16px;
}

figure {
  margin: 0;
}

figcaption {
  text-align: center;
  margin-top: 8px;
  font-size: 0.9em;
  color: var(--secondary-color);
}

img {
  width: 100%;
  height: auto;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px;
  background-color: var(--nav-background-color);
  color: var(--nav-link-color);
}

.sociallinks {
  display: flex;
  gap: 20px;
}

.sociallinks img {
  width: 24px;
  height: 24px;
}

.company-info {
  display: flex;
  justify-content: space-between;
  padding: 0 50px;
}

#google-map {
  width: 50%;
  height: 250px;
}

.employee-profiles {
  display: flex;
  gap: 20px;
  justify-content: space-around;
  padding: 20px;
}

.profile img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
}

.name, .title {
  margin: 10px 0 5px;
  text-align: center;
}

#contact-form {
  max-width: 600px;
  margin: auto;
}

label, p {
  margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
textarea,
button {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
}

button {
  background-color: var(--primary-color);
  color: #fff;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: var(--secondary-color);
}

@media only screen and (max-width: 768px) {
  section p, .adventure-gallery {
    flex-direction: column;
    grid-template-columns: repeat(2, 1fr);
  }
  
  section p img {
    width: 100%;
    margin: 20px 0;
  }
  
  footer {
    flex-direction: column;
    align-items: flex-start;
  }
  
  .sociallinks {
    order: -1;
    margin-bottom: 20px;
  }
}

@media (min-width: 769px) {
  footer p {
    margin: 0;
  }

  .sociallinks {
    margin-left: auto;
  }
}
