* {
    margin: 1px;
    margin-inline-start: 3px;
    margin-inline-end: 3px;
    padding: 3px;
    box-sizing: border-box;
  }

nav {
    /* background-color: steelblue;
    padding: 10px; */
    /* border-radius: 8%; */
}
/* nav a {
    color: white;
    display: block;
    padding: 20px;
    text-decoration: wavy;
} */
main {
    /* max-width: 1024px; */
}
h1 {
    color: steelblue;
    padding: 3%;
    border-bottom: 1px solid steelblue;
}
main img {
    width: 150px;
    height: auto;
    border: 1px solid steelblue;
    border-radius: 5%;
    padding: 2px;
    box-shadow: 0 0 30px gray;
    float: right;
    margin-inline-end: 8%;
    
}
p {
    margin-left: 8%;
    /* padding: 8%; */
}
aside {
    /* margin: 1em; */
    border: 1px solid rgba(0, 0, 0, 0.2);
    background-color: #eee;
    color: #333;
    text-align: center;
    width: 20em;
}

aside img {
    width: 200px;
    height: auto;
}
footer {
    margin-top: 1em;
    border-top: 1px solid #000;
    text-align: center;
}

/* Class Selectors */
.box {
    margin: 1rem;
    border: 1px solid rgba(0,0,0,.1);
    padding: 1rem;
    background-color: #ddd;
    color: #000;
    /* border-radius: 5%; */
  }
.box, a {
    text-decoration: wavy;
}


/* W04: Using CSS Flex and Grid on the Course Home Page */
header, .grid, footer {
    max-width: 840px;
    margin: 0 auto;
  }
  nav {
    background-color: steelblue;
    padding: 1rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  nav a {
    display: block;
    padding: 0.5rem;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 700;
    color: #fff; 
  }

  /* Use grid-template-columns to define the columns and their widths.
    Use grid-column and grid-row to define the grid items (main and aside) position. */
  .grid {
    display: grid;
    align-items: center;
  }
  
  main {
    grid-column: 2/3;
    margin: 1rem;
  }
  
  aside {
    width: 16rem;
    position: relative;
    grid-column: 1/2;
    grid-row: 1/2;
  }
